.button {
  padding: clamp(0.5rem, 0.36rem + 0.66vw, 0.938rem) clamp(0.625rem, 0.224rem + 1.887vw, 1.875rem);
  font-size: 24px;
  border: 2px solid var(--main-light-color);
  border-radius: 60px;
  text-align: center;
  background-color: var(--accent-color);
}

.button:hover {
  /* background-color: var(--hover); */
}

.button:focus-visible {
  /* background-color: var(--hover); */
}

.button.active {
  background-color: var(--second-light-color);
  -webkit-box-shadow: 2px 2px 5px 2px var(--gray-color) inset;
  -moz-box-shadow: 2px 2px 5px 2px var(--gray-color) inset;
  box-shadow: 2px 2px 3px 2px var(--gray-color) inset;
}

.button .svg {
  width: 10px;
  height: 10px;
  font-size: 30px;
}